/*------------ Calendario -----------------*/


h3,h4,h5 {
   font-weight: 300;
}

p{
    position: relative;
    top:25%;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Helvetica', sans-serif;
}

.main-wrapper{
    position: absolute;
    height: 63%;
    width:95%;
    top:33%;
    left:2%;
}

.calendar-wrapper {
   position: relative;
   width: 100%;
   height: 80%;
}

.calendar-header {
   position: relative;
   height: 100%;
   color: black;
   margin-top: -18%;
   font-family: 'Helvetica', sans-serif;
   font-weight: 300;
}


.header-background {
   position: relative;
   top:-15%;
   background-color: #e67e22;
   height: 25%;
   text-align: center;
}

.calendar-content {
   position: relative;
   background-color: rgba(255, 228, 217, 0.73);
   overflow: hidden;
   width:100%;
   top:-15%;
}

.event-mark {
   width: 5px;
   height: 5px;
   background-color: #3498db;
   border-radius: 100px;
   position: relative;
   left: 46%;
   top: 70%;
}

.calendar-footer {
   height: 35%;
   font-family: 'Helvetica', sans-serif;
   font-weight: 300;
   text-align: center;
   background-color: #e67e22 !important;
   position: relative;
   overflow: hidden;
}

.addForm {
   position: absolute;
   top: 100%;
   width: 100%;
   height: 100%;
   background-color: #e67e22 !important;
   transition: top 0.5s cubic-bezier(1, 0, 0, 1);
   padding: 0 5px 0 5px;
}

.addForm input {
   color: black;
}

.addForm .row {
   padding-left: 0.75rem;
   padding-right: 0.75rem;
   margin-bottom: 0;
}

.addForm h4 {
   color: black;
   margin-bottom: 1rem;
}

.addEventButtons {
   text-align: right;
   padding: 0 0.75rem 0 0.75rem;
}

.addEventButtons a {
   color: black;
   font-weight: 300;
}

.emptyForm {
   padding: 20px;
   padding-left: 15%;
   padding-right: 15%;
}

.emptyForm h4 {
   color: black;
   margin-bottom: 2rem;
}

.sidebar-wrapper {
   position: absolute;
   top:70%;
   width: 100%;
   height: 28%;
   color: black;
   background-color: rgb(93, 179, 237) !important;
   font-family: 'Helvetica', sans-serif;
   font-weight: 300;
}

.empty-message {
   
   font-size: 1.2rem;
   padding-top: -10%;
}

.eventCard {
   position: relative;
   margin-top:-3%;
   background-color: white;
   color: black;
   border-bottom: 1px solid #E5E5E5;
   white-space: nowrap;
   position: relative;
   animation: slideInDown 0.5s;
}

.eventCard-header {
   font-weight: bold;
}

.eventCard-description {
   color: black;
}

.eventCard-clock {
   color: black;
}

.eventCard-mark-wrapper {
   position: absolute;
   right: 0;
   top: 0;
   height: 100%;
   width: 60px;
}

.eventCard-mark {
   width: 8px;
   height: 8px;
   background-color: #16a085;
   border-radius: 100px;
   position: absolute;
   left: 50%;
   top: 45%;
}

.day-mark {
   width: 7px;
   height: 7px;
   background-color: #16a085;
   border-radius: 100px;
   position:static;
   margin-left: 10px;
}

.content-wrapper {
   padding-top: 50px;
   padding-bottom: 50px;
   margin-left: 300px;
}

#table-header{
    position: relative;
    left: 2%;
    width: 103%;
    font-size: 17px;
    font-weight: 300;
    text-shadow: 0 -0.5px 0.5px #777;
}

.empty-day:hover {
   cursor: default !important;
   background-color: #fff !important;
}

#table-body .col:hover {
   cursor: pointer;
   /*border: 1px solid grey;*/
   background-color: #ffb574;
}


#table-body .col {
   border: 1px solid transparent;
}

#table-body {
    width: 100%;
}

#table-body .row {
   margin-bottom: 15px;
   display: grid;
   grid-template-columns: repeat(7, 1fr);
}


#calendar-table {
   position: relative;
   text-align: left;
   width: 100%;
}

.prev-button {
   position: absolute;
   cursor:pointer;
   left: 0%;
   top: 35%;
   color: grey;
}

.prev-button i {
   font-size: 100%;
   color: black ;
}

.next-button {
   position: absolute;
   cursor: pointer;
   right: 0%;
   top: 35%;
   color: black ;
}

.next-button i {
   font-size: 100%;
}

.mobile-header {
   padding: 0;
   display: none;
   padding-top: 20px;
   padding-bottom: 20px;
   position: fixed;
   width: 100%;
   background-color: rgb(93, 179, 237) !important;
}

.mobile-header a i {
   color: black;
   font-size: 38px;
}

.mobile-header h4 {
   color: black;
}

.mobile-header .row {
   margin-bottom: 0;
}

.mobile-header h4 {
   margin: 0;
   font-family: 'Helvetica', sans-serif;
   font-weight: 300;
}

label#descrizione{
    color:black;
}

@media (max-width:992px) {
   .content-wrapper {
      margin-left: 0;
   }
   .mobile-header {
      display: block;
   }
   .calendar-wrapper {
      margin-top: 80px;
   }
   .sidebar-wrapper {
      background-color: #EEEEEE !important;
   }
   .sidebar-title {
      background-color: rgb(93, 179, 237); !important;
   }
   .empty-message {
      color: black;
   }
}

@media (max-width:767px) {
   .content-wrapper .container {
      width: auto;
   }
   .calendar-content {
     padding-top: 2%;
   }
   body .row {
      margin-bottom: 0;
   }
}

@media (max-width:450px) {
   .content-wrapper {
      padding-left: 0;
      padding-right: 0;
   }
   .content-wrapper .container {
      padding-left: 0;
      padding-right: 0;
   }
}