
/*----- BTN-Back--------*/

button#back {
  position: absolute;  
  width: 16%;
  height: 25%;
  background-color: #004dff;
  border-radius: 30px;
  border: none;
  color: white;
  transition: all 0.25s ease;
}

button#back:active, .button#back:focus {
  outline: none;
  background-color: #0d3ba5 ;
}

img#back{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 1%;
    top: 6%;
}


/*-----*/

.bhome {
  position: relative;
  width: 48%;
  height: 145%;
  margin-left: 1%; 
  border: 2px solid #ffa427;
  /*border: 2px solid rgba(255, 39, 39, 0.77); ROSSO*/
  /* border: 2px solid rgba(255, 255, 0, 0.56); GIALLO */
  /*border: 2px solid rgba(0, 201, 0, 0.87); VERDE*/
  border-radius: 20px;
  padding: 1%;
  margin-bottom: 3%;
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 26;
  box-shadow: 0px 5px 10px -1px rgba(123, 123, 123, 0.5); /*da riportare*/
  display: inline;
  text-shadow: 0 -0.5px 0.5px #777; /*da riportare*/
  background: linear-gradient(rgba(255, 164, 39, 0.33), rgba(255, 164, 39, 0.32) 18%, rgba(255, 164, 39, 0.42) 52%, rgba(255, 164, 39, 0.63)); 
  /* background: linear-gradient(rgba(255, 0, 0, 0.36), rgba(255, 0, 0, 0.47) 18%, rgba(255, 0, 0, 0.56) 52%, rgba(255, 0, 0, 0.71)); ROSSO*/
  /* background: linear-gradient(rgba(255, 255, 0, 0.33), rgba(255, 255, 0, 0.42) 18%, rgba(255, 255, 0, 0.57) 52%, rgba(216, 216, 0, 0.79));GIALLO*/
  /*background: linear-gradient(rgba(0, 201, 0, 0.42), rgba(0, 201, 0, 0.53) 18%, rgba(0, 201, 0, 0.62) 52%, rgba(4, 129, 4, 0.86)); VERDE*/
    
}

.bhome:active, .bhome:focus {
  outline: none;
  background-color:  rgba(255, 164, 39, 0.81);
  
}


#home1 {
  width: 96%;
  height: 22%;
  position: absolute;
  background-color: white;
  top: 30%;
}

#home2 {
  width: 96%;
  height: 22%;
  margin-top: 6%;
  position: absolute;
  background-color: white;
  top: 60%;
}


#testa {
  position: fixed;
  width: 96%;
  height: 28%;
  top: 0%;
  background-color: white;
  z-index: 99;
}

#back {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 16%;
  left: 7%;
  z-index: 100;
}

p {
  color: #18191b;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  text-align: center;
}

p#scegli{
    margin-top: 50px;
    font-size: 26px;
}

section {
  display: flex;
  flex-flow: row wrap;
  margin-top:50px;
}

section > div {
  flex: 1;
  padding: 0.5rem;
}

input[type="radio"] {
  display: none;
}


img#logo{
  margin-top:10px;
  width: 100px;
  height: 100px;
}

div#logo{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

div#barra{
  position: absolute;
  width: 99%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(116, 177, 255, 0.44);
  border: solid 1px;
  border-color: rgba(116, 177, 255, 0.44);
  border-radius: 24px;
}

ul#menu{
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  height: inherit;
  padding-left: 0px;
  margin-left: 5%;
  margin-right: auto;
  padding: 8px;
}

div#barra img#icona{
  position: relative;
  width: 14.2%;
  height: 161.5%;
  margin-top: -4.5%;
  padding: 0.8%;
  border: solid 4px;
  border-color: rgba(72, 127, 255, 0.9);
  border-radius: 26px;
  border-right: none;
  border-left: none;
  left: -5.5%;
  margin-left: -0.5%;
}

ul#menu li{
  display: inline;
  height: inherit;
  width: inherit;
  margin-left: auto;
  margin-right: auto;
  

}

ul#menu a{
  text-decoration: none;
  color: black;
  padding: 6px;
}

div#barra img#icona:active{
  background-color: rgba(72, 127, 255, 0.9);
}



