#listapren {
  position: absolute;
  width: 96%;
  height: 68%;
  top: 30%;
  background-color: #31f659;
}

.p {
  position: relative;
  width: 98%;
  height: 30%;
  top: 1%;
  left: 1%;
  background-color: #4f98a2;
}

.finalizzato {
  position: relative;
  width: 85%;
  height: 120px;
  left: 7%;
  background-color: #00ff00;
}

.preventivoInviato {
  position: relative;
  width: 85%;
  height: 120px;
  left: 7%;
  background-color: #ff9900;
}

.preventivoRifiutato {
  position: relative;
  width: 85%;
  height: 120px;
  left: 7%;
  background-color: #ff0000;
}

.richiestaRifiutata {
  position: relative;
  width: 85%;
  height: 120px;
  left: 7%;
  background-color: #ff0000;
}
