#listapren {
  position: absolute;
  width: 96%;
  height: 68%;
  top: 30%;
  background-color: #31f659;
}

.p {
  position: relative;
  width: 98%;
  height: 30%;
  top: 1%;
  left: 1%;
}

.finalizzato {
  position: relative;
  left: 10%;
  margin-top: 40px;
  width: 300px;
  height: 140px;
  background-color: #00ff00;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: white;
}

.preventivoInviato {
  position: relative;
  left: 10%;
  margin-top: 40px;
  width: 300px;
  height: 140px;
  background-color: #ffa700;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: white;
}

.preventivoRifiutato {
  position: relative;
  left: 10%;
  margin-top: 40px;
  width: 300px;
  height: 140px;
  background-color: #de0000;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: white;
}

.richiestaRifiutata {
  position: relative;
  left: 10%;
  margin-top: 40px;
  width: 300px;
  height: 140px;
  background-color: #de0000;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: white;
}
