#imgprofilo {
  position: absolute;
  width: 155px;
  height: 155px;
  top: 30%;
  left: 7%;
  background-color: #43d4a2;
}

#nomecognome {
  position: absolute;
  width: 45%;
  height: 20%;
  top: 30%;
  left: 50%;
  border: 2px solid #004dff;;
  border-radius: 20px;
  background: white;
  text-align: center;
}

#info {
  position: absolute;
  width: 98%;
  height: 40%;
  left: 1%;
  top: 55%;
  border: 2px solid #004dff;
  border-radius: 20px;
  background: white;
  text-align: center;
}
