div#form-login
{
    position:absolute;
    top: 30%;
}

.txt-titolo{
    position: absolute;
    top: 21%;
    left: 20%;
}

button#back{
    width: 100%;
    height: 100%;
}

div#back1{
    position: absolute;
    left: 5%;
    top:8%;
    width: 18%;
    height: 10%;
}


.button{
    position:absolute;
    width: 80%;
    height: 25%;
    left: 8%;
    font-size: 26px;
}

div#form-codice
{
    position:absolute;
    width: 80%;
    top:35%;
    left:11%;
}


div#btn-verifica button#submit{
    position: absolute;
    top:65%;
    width: 50%;
    height: 10%;
    left:25%;
}

div#btn-richiedi button#submit{
    height: 30%;
}
