.sospeso {
  position: relative;
  width: 96%;
  height: 180px;
  top: 2%%;
  left: 2%;
}

.archiviate {
  position: relative;
  width: 96%;
  height: 180px;
  top: 15%;
  left: 2%;
}

.prenotazioni {
  position: absolute;
  width: 96%;
  height: 55%;
  top: 35%;
  background-color: #00f49d;
}
