.titolo {
  position: relative;
  width: 100%;
  height: 5%;
  top: -5%;
}

.prenotazioneInviata{
  position: relative;
  left:5%;
  width: 90%;
  height: 35%;
  margin-top: 5%;
  border-radius: 15px;
  background-color:rgba(255, 164, 39, 0.28);
  border: 2px solid rgba(255, 164, 39, 0.68) ;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 26;
  color: black;
  box-shadow: 0px 5px 10px -1px rgba(123, 123, 123, 0.5);
  display: inline;
  text-shadow: 0 -0.5px 0.5px #777;
  background: linear-gradient(rgba(255, 164, 39, 0.33), rgba(255, 164, 39, 0.32) 18%, rgba(255, 164, 39, 0.42) 52%, rgba(255, 164, 39, 0.63));
}

.preventivo {
  position: relative;
  width: 90%;
  height: 45%;
  top: 1%;
  left: 5%;
  margin-top: 10%;
  background: rgba(255, 164, 39, 0.28);
  border: 2px solid rgba(255, 164, 39, 0.68);
  border-radius: 20px;
  text-align: center;
  font-size: 23;
  box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
  display: inline;
  box-shadow: 0px 5px 10px -1px rgba(123, 123, 123, 0.5);
  text-shadow: 0 -0.5px 0.5px #777;
  background: linear-gradient(rgba(255, 164, 39, 0.33), rgba(255, 164, 39, 0.32) 18%, rgba(255, 164, 39, 0.42) 52%, rgba(255, 164, 39, 0.63));
}

.prenotazioni {
  position: absolute;
  width: 96%;
  height: 55%;
  top: 30%;
  left: 2%;
}

.linkprofilo {
  position: relative;
  left: 34.5%;
}
