<html>
  <head>
     
    <link href="css\richiediservizioanziano.css" rel="stylesheet" type="text/css">
     <link href="css/home.css" rel="stylesheet" type="text/css">
     <script src="js/ip.js"></script>
    <script src="js/listaServizi.js"></script>
    <script src="js/hideDiv.js"></script>
  </head>
  <body>
    <div id="testa" ></div>
    <script src="js/header.js"></script>
    <script>
      document.getElementById("back").setAttribute( "onclick", "window.location.href='homeanziano.html'" );
          localStorage.removeItem('idLista');
          localStorage.removeItem('statoPrenotazione');
    </script>
      <!-- Inizio RICHIEDI SERVIZIO -->
      <div id="firstPage">
        <h1>Seleziona Servizio</h1>
        <div id="bottoni"  > 
          <div class="group" id="servizi">
          </div>  
        </div>
        <div id="conferma">
          <button id="submit" type="submit" class="button" onclick="confermaServ();">
            <span id="label">Conferma</span>
          </button>
        </div>
      </div>
      <!-- Inizio SELEZIONA DATA e ORA-->    
      <div id = "dataOra" style="display: none;">
        <div id="data" >
            <h2>Seleziona Data</h2>
            <input type="date" name="date" id="date" >
        </div>
        <div id="ora" >
             <h2>Seleziona Ora</h2>
             <mdp-time-picker mdp-auto-switch="true" ng-model="currentTime"></mdp-time-picker>
             <input id="time" type="time" ng-model="test" mdp-time-picker />
        </div>
        <div id="conferma" >
          <button id="submit" type="submit" class="button" onclick="confermaDataOra();">
            <span id="label">Conferma</span>
          </button>
        </div>
      </div>

      <!-- Inizio SELEZIONA UTENTE-->
      <div id = "selezionaUtente" style="display: none;">
        <div id="bottoni" > 
            <h2>Seleziona uno o più utenti</h2>
            <div class="group" id="listaUtenti">
            </div>
        </div>
        <div id="conferma">
          <button id="submit" type="submit" class="button" onclick="confermaUtenti()">
            <span id="label">Conferma</span>
          </button>
        </div>
      </div>
      
      <!-- Inizio RIEPILOGO SERVIZIO-->
      <div id ="riepilogo" style="display: none;">
        <div class="box" id="riepilogo">
          <p> Servizio:  </p> <p id="nomeServizio"></p>
          <p> Data:  </p> <p id="dataRichiesta"></p>
          <p> Ora:  </p> <p id="oraRichiesta"></p>
          <p> Utenti Selezionati:  </p> <p id="utentiSelezionati"></p>
        </div>
        <div id="note" >
          <textarea class="textarea" name="messaggio" id="memo" maxlength="2000" placeholder="Note aggiuntive"></textarea>
        </div>
        
        <div id="richiedipreventivo">
          <button id="submit" type="submit" class="button" onclick="getNote(); inviaRichiestaPreventivo();">
            <span id="label">Richiedi Preventivo</span>
          </button>
        </div>
        <div id="richiediprenotazione" >
          <button id="submit" type="submit" class="button" onclick="inviaRichiestaPrenotazione();">
            <span id="label">Richiedi Prenotazione</span>
          </button>
        </div> 
      </div>
     
      

      <script src="js/scriptsAnziano/richiediServizio.js"></script>
      <script> window.onload = displayServizi();</script>
  </body>
</html>
      
      

  


